* {
  box-sizing: border-box;
}
.dp{
  width: 50%;
  border-radius: 50%;
}
.dp-container{
  text-align: center;
}
.gif-container{
  width: "100%";
  text-align: center;
}

.grid-container{
  display: block;
}
.resume-button{
  font-size: 0.9em;
  width: 14em;
  height:5em;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: darkred;
}
.gif{
  width: 80%;
  border-radius: 20px;
}
body{
  margin:0px;
  background-color: rgb(84, 93, 75);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  
}
.round{
  border-radius: 50%;
}
.resume-button:hover{
  background-color: grey;
  color: white;
}
.about-content{
  font-size: 0.75em;
}
.contact-details{
  text-align: center;
}
.mail-btn{
  border: none;
  width: 60%;
  height: 10vh;
  border-radius: 20px;
  background-color: darkblue;
  color: white;
  font-size: 1em;
}
.mail-btn:hover{
  background-color: lightblue;
  color: black;
}
.social-img{
  
  width: 12%;
  height: auto;
}
.social-sep{
  margin-left: 6%;
}
.skills-text{
  padding: 0.5vh 0vh;
}
.progressbar{
  width: 100%;
}
.home-btn{
  text-align: center;
}
.contact-container{
  display: block;
}


@media only screen and (min-width: 768px) {
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.contact-container{
  display: grid;
  grid-template-columns: auto auto;
}
.contact-details{
  text-align: left;
}
.home-btn{
  text-align: left;
}
.home-container{
  display: grid;
  grid-template-columns: auto auto;
}
.social-img{ 
  width: 5%;
  height: auto;
}

.dp-container{
  width: 80%;
  margin-left: 10%;
  text-align: left;
}

.mail-btn{
  width: 30%;
  height: 20%;
  font-size: 0.8em;
}
.home-page{
  margin: 10vh 10vh;
}
.home-text1{
  font-size: 1.3em;
}
.home-text2{
  font-size: 1em;
}
.about-content{
  font-size: 1em;
  font-weight: 400;
}

.education-content{
  font-size: 125%;
  margin: 3% 5%;
}
.college-link{
  color: white;
}
.college-link:hover{
  color: blue;
}
.projects-content{
  margin: 0% 5%;
}
.gif{
  width: 100%;
  height: auto;
}
.contact-details{
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  font-weight: 500;
}
.social-links{
  width: 100%;
}

.skills-container{
  margin: 2% 2%;
  font-size: 150%;
  font-size: 1.4em;
}
.skills-container>div{
  padding: 1vh 0vh;
}
.progressbar{
  width: 50%;
}
.contact-details,.social-links{
  width: 100%; 
}
}