.img{
  width: 55%;
  border-radius: 50%;
}
.grid-container{
  margin: 4vh 4ch;
  display: grid;
  grid-template-columns: auto auto;
}
body{
  margin:0px;
}
.grid-container>div{
  padding: 2vh 2vh;
}
.home-text1{
  font-size: 1.6em;
}
.home-text2{
  font-size: 1.25em;
}
.home-btn{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}
.resume-button{
  font-size: 1rem;
  width: 35%;
  height: 150%;
  border: none;
  border-radius: 20px;
  background-color: lightblue;
}
.resume-button:hover{
  background-color: grey;
  color: white;
}
.about-content{
  font-size: 1.1em;
}
.education-content{
  font-size: 125%;
  margin: 3% 5%;
}
.projects-content{
  margin: 0% 5%;
}
.gif{
  width: 50%;
}
.contact-details{
  width: 50%;
  height: 100%;
}
.social-links{
  width: 100%;
}
.social-img{
  margin-left: 6%;
}
.round{
  border-radius: 50%;
}
.skills-content{
  margin: 2% 2%;
  font-size: 170%;
}