.img{
  width: 80%;
  border-radius: 20%;
}
.img-container{
  position: absolute;
  top: 20%;
  left: 70%;
}
.home-line-1{
  font-size: 170%;
  margin: 7% 3%;
}
.home-line-2{
  font-size: 130%;
  margin-left: 3%;
}
.resume-button{
  margin: 3% 3%;
  font-size: 105%;
  width: 12%;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: lightblue;
}
.resume-button:hover{
  background-color: grey;
  color: white;
}
.about-content{
  font-size: 110%;
  margin: 2% 2%;
  width: 60%;
  padding: 1.5% 1.5%;
  border-radius: 20px;
}
.education-content{
  font-size: 125%;
  margin: 3% 5%;
}
.projects-content{
  margin: 0% 5%;
}
.contact-details,.social-links{
  margin: 2% 2%;
  border: 1px solid;
  border-radius: 20px;
  padding: 2%; 
  width: 40%;
}
.social-links{
  margin-top: auto;
}
.social-img{
  margin-left: 6%;
}
.round{
  border-radius: 50%;
}
.gif{
  position: absolute;
  top: 10%;
  right: 20%;
}
.skills-content{
  margin: 2% 2%;
  font-size: 170%;
}